@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

:root{
    --header-text-color: rgb(255, 255, 255);
    --main-text-color: #3287f5;
    --sub-text-color: black;
    --title-text-color: rgb(194, 192, 192);   
}

.main{
    width: 700px;
    border-radius: 20px;
    background-color: #ffffff;
    border-right: solid 2px #3c7ed4;
}

.top{
    height: 60px;
    background-color: #424242;
    color: whitesmoke;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
    display: flex;
    justify-content: space-between;
}

.header{
    background-color: #3c7ed4;
    color: var(--header-text-color);
    margin: 10px 0px 10px 0px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
}

.day{
    padding: 15px;
    color: var(--main-text-color);
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.temp{
    padding: 15px;
    color: var(--sub-text-color);
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.sunrise-sunset{
    padding: 15px;
    color: var(--sub-text-color);
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
}

.description{
    padding: 15px;
    color: var(--main-text-color);
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.title{
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
}